body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  text-align: center;
}

p {
  font-size: 1.2rem;
}
